/***************************
Nav and Footer bar
***************************/

nav {
  height: 25px;
}

nav ul, footer ul {
  margin-top: -2px;
  margin-left: 18px;
  margin-right: 12px;
  padding: 0px;
  font-family: "aerial", sans-serif;
  font-size: 13px;
}

nav li, footer li {
  display: inline;
  list-style: none;
  padding: 0px 7px;
  margin-top: 6px;
}

nav li a, footer li a {
  text-decoration: none;
  color: inherit;
}

nav li a:hover, footer li a:hover {
  text-decoration: underline;
}

nav li:nth-of-type(3) {
  margin-top: 0;
}

nav li img {
  height: 18px;
  opacity: 0.55;
  vertical-align: middle;
}

nav li button {
  background-color: rgb(66, 133, 244);
  border-radius: 2px;
  font-weight: 700;
  font-size: 13px;
  color: rgb(255, 255, 255);
  border: none;
  line-height: 28px;
  padding: 1px 12px 2px 12px;
  vertical-align: middle;
  margin-left: 10px;
}

.left-nav, .left-foot {
  float: left;
}

.right-nav, .right-foot {
  float: right;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer ul {
  position: relative;
  margin-right: 16px;
}

footer li {
  margin-bottom: 14px;
  margin-right: 18px;
  color: rgb(102, 102, 102);
}


/***************************
Header and search section
****************************/

#logo-section, #search-section, #search-btns {
  width: 100%;
}

#logo-section img {
  height: 92px;
  width: 272px;
  padding-top: 150px;
}

#search-form-div {
  height: 44px;
  width: 440px;
  box-shadow: 1px 1px 1px 1px rgb(200, 200, 200, 0.85);
  padding: 0px 9px 0px 16px;
  margin-top: 25px;
}

#search-box {
  height: 30px;
  width: 375px;
  line-height: 34px;
  font-size: 16px;
  border: none;
  float: left;
  outline: none;
  margin: 8px 0 0 0;
}

#microphone {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat -3px 0;
  background-size: 25px 25px;
  background-position: center;
  height: 40px;
  width: 44px;
  float: right;
}

#search-btns {
  margin: 17px 0 0 0px;
  text-align: center;
}

#search-btns input {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 2px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
}

#search-btns input:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
